

:root {
  --primary-gradient: linear-gradient(135deg, #f8a146, #d55a9d, #ff9f8e, #ff3c97);
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--primary-gradient);
  min-height: 100vh;
}
